#estados {
    margin-bottom: 30px;
}

#estados-iconos {
    /* margin-left: 4%;  */
    margin: 0px;
}

.componente-captura-referido {
    width: 100%;
}

.descripcion-estado {
    color: #ec0000;
    font-size: 12px;
    font-family: OpenSans-SemiBold;
}



.vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.circle {
    width: 25%;
    height: 25%;
    text-align: center;
    /* font-size: 14px; 
    line-height: 1.42; */
    border: 3px solid #F2F2F2 !important;
    border-radius: 50%;
    /* cursor: pointer; */
}

.circle-active {
    color: #ec0000;
    background: #fff;
    border: solid 4px #ec0000 !important;  
}

.circle.inactive {
    color: #b2b2b2;
    background: #fff;
    border: solid 4px #b2b2b2 !important;
}

.icon-lg {
    font-size: 18px !important;
}

.line {
    width: 30px;
    height: 3px;
    background: #F2F2F2;
}

.line-active {
    background: #EC0000;
}

.line-inactive {
    background: #F2F2F2;
}

::ng-deep snack-bar-container.success-snackbar {
    background: rgba(255,159,50,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep snack-bar-container.blue-snackbar {
    background: rgba(78,150,252,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

.mat-form-field-infix {
        font-family: OpenSans-Regular;
}

.mat-form-field {
    font-family: OpenSans-Regular !important;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.125;
}


.font-detallereferido-input {
    font-family: OpenSans-Regular;
}
.font-titulo-detalleReferido {
    font-family: OpenSans-SemiBold;
}