#estados {
    margin-bottom: 30px;
}

#estados-iconos{
    margin-left: 4%; 
}

.componente-captura-referido {
    width: 100%;
}

.descripcion-estado {
    font-size: 12px;
    color: #ec0000;
}

.vertical-center {
    display: flex;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;  
    -ms-flex-align: center; 
    -webkit-box-align: center;
}

.circle {
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #F2F2F2 !important;
    
    
}

.circle-active {
    color: #ec0000;
    background: #fff;
    border: solid 4px #ec0000 !important;  
}

.circle.inactive {
    color: #b2b2b2;
    background: #fff;
    border: solid 4px #b2b2b2 !important;
}

.icon-lg {
    font-size: 18px !important;
}

.line {
    width: 64px;
    height: 3px;
    background: #F2F2F2;
}

.line-active {
    background: #EC0000;
}

.line-inactive {
    background: #F2F2F2;
}

::ng-deep snack-bar-container.success-snackbar {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(255,159,50,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
}

::ng-deep snack-bar-container.blue-snackbar {
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: rgba(78,150,252,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
}