#ayuda{
    font-size: 20px;
}
#ccp {
    padding: 5px;
}

#datos-iniciales-container {
    background: #FFFFFF;
    border-bottom: 2px solid #d4c8c8;
}

#fab-agregar-referido {
    font-size: 25px;
}

#inicio-container {
    position: absolute;    
    padding: 16px 16px 32px 16px;
}

#loader {
    padding-top: 30px;
}

#nombre {
    
    font-size: 16px; 
    color: #242424;   
    letter-spacing: 0;
}

#ranking-aprobados {
    font-size: 14px;
    color: #3796FF;
    letter-spacing: 0;
}

#ranking-restantes {
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 16px;
}

#titulo-ultimos-referidos {
    font-size: 14px;  
    color: #242424;  
    letter-spacing: 0;
}

#ultimos-referidos-container {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
}

#ultimos-referidos-container li{
    font-size: 14px;
    color: #5E606C;
    letter-spacing: 0;
    line-height: 12px;
}

.alineacion-boton {
    text-align: right;
    margin-bottom: 25px;
}

.datos-principales {
    margin: 0;
    padding: 0;
}

.inicio-botones {
    margin: 10px 0px;
}

.lista-referido-par {
    background: rgba(242,242,242,0.60);
}

.mat-fab.mat-accent {
    background-color: #EC0000;
}

.mat-mini-fab.mat-accent {
    background-color: #FFFFFF;
}
.mat-fab {
    padding: 0;
    width: 48px;
    height: 48px;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 50%;
}

.center {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    align-content: center;
}
