<div class="col-12  h-100 animated fast fadeIn" id="inicio-container">
    <div class="h-30 sticky-top" id="datos-iniciales-container">
        <div class="row" id="datos-iniciales">
            <div class="col-3 text-center">
                <img class="img-fluid" src="assets/img/user.png" alt="Perfil">
            </div>
            <div class="col-7">
                <p class="datos-principales" id="nombre"><strong>{{usuarioFirmado.nombre}}</strong></p>
                <p class="datos-principales" id="ranking-aprobados">{{usuarioFirmado.numReferidosTotal}} CLIENTES</p>
            </div>
            <div class="col-2">
                <button (click)="muestraBases()" mat-mini-fab id="ayuda"><i class="icono icon-info text-danger"></i></button>
            </div>
        </div>
        <div class="row">
            <app-togle-button></app-togle-button>
            <!-- <div id="ccp" class="col-6">
                <button mat-raised-button class="inicio-botones" (click)= "muestraMiProgreso()" [ngClass]="{'boton-active': isMiprogresoSeleccionado, 'boton-gris': ! isMiprogresoSeleccionado}">Premios</button>
            </div>
            <div id="ccp" class="col-6">
                <button mat-raised-button class="inicio-botones" (click)= "muestraMisReferidos()" [ngClass]="{'boton-active': isMisReferidosSeleccionado, 'boton-gris': ! isMisReferidosSeleccionado}">Mis referidos</button>
            </div>                           -->
        </div>
    </div>
    <app-mi-progreso *ngIf="isMiprogresoSeleccionado"></app-mi-progreso>
    <app-mis-referidos *ngIf="isMisReferidosSeleccionado" [recargaMisReferidos]="recargaMisReferidos" ></app-mis-referidos>
    <div class="col-sm-12 alineacion-boton fixed-bottom">
        <button id="fab-agregar-referido" mat-fab (click)="nuevoReferido()">
            <i class="icono icon-user-add"></i>
        </button>
    </div>
</div>