#ayuda{
    font-size: 20px;
}
#ccp {
    padding: 5px;
}

#datos-iniciales-container {
    background: #FFFFFF;
    border-bottom: 2px solid #d4c8c8;
    padding-top: 16px;
}

#fab-agregar-referido {
    background: #EC0000;
    font-size: 25px;
    color: #FFFFFF;
}

#inicio-container {
    position: absolute;    
    padding: 0px 16px 32px 16px;
}

#loader {
    padding-top: 30px;
}

#nombre {
    color: #242424;
    font-size: 16px;    
    letter-spacing: 0;
    font-family: 'OpenSans-SemiBold';
}

#ranking-aprobados {
    color: #3796FF;
    font-size: 14px;
    letter-spacing: 0;
    font-family: 'OpenSans-SemiBold';
}

#ranking-restantes {
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

#titulo-ultimos-referidos {
    color: #242424;
    font-size: 14px;    
    letter-spacing: 0;
}

#ultimos-referidos-container {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
    height: 100%;
    width: 100%;
}

#ultimos-referidos-container li{
    font-size: 14px;
    color: #5E606C;
    letter-spacing: 0;
    line-height: 12px;
}

.alineacion-boton {
    text-align: right;
    margin-bottom: 70px;
}

.datos-principales {
    margin: 0;
    padding: 0;
    align-content: stretch;
}

.inicio-botones {
    margin: 10px 0px;
}

.lista-referido-par {
    background: rgba(242,242,242,0.60);
}

.mat-fab.mat-accent {
    background-color: #EC0000;
}

.mat-mini-fab.mat-accent {
    background-color: #FFFFFF;
}
.mat-fab {
    min-width: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    flex-shrink: 0;
}

.center {
    align-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.gris {
    color: #b2b2b2;
    align-content: stretch;
}

mat-button-toggle {
    color: #5E606C;
    height: 40px;
    font-family: 'Roboto Medium';
    font-size: 16px;
    text-align: center;
    width: 50%;
}

.mat-button-toggle-checked {
    background: #EC0000;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30);
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    font-size: 16px;
}  

mat-button-toggle-group {
    background: rgba(242,242,242,0.60);
    box-shadow: none;
    border-radius: 100px;
    height: 40px;
    width: 100%;
}

#menu-container {
    margin: 20px 0px;
}