.imagen_center {
    text-align: center;
}
/** Comentario*/
.imagen_center > img{
    width: 90%;
}

.texto {
    font-size: 16px;
    color: #B2B2B2;
    font-family: 'OpenSans-SemiBold';
}

.resaltado {
    font-size: 16px;
    color: #EC0000;
    font-family: 'OpenSans-SemiBold';
}

.resaltado-azul {
    font-size: 16px;
    color: #3796FF;
    font-family: 'OpenSans-SemiBold';
}

.mensaje {
    font-size: 16px;
    color: #242424;
    font-family: 'OpenSans-Regular';
}