.imagen_center {
    text-align: center;
}

.imagen_center > img{
    width: 90%;
}

.texto {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #B2B2B2;
}

.resaltado {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #EC0000;
}

.resaltado-azul {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #3796FF;
}

.mensaje {
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #242424;
}