#logo-santander{
    position: absolute;
    bottom: 0;    
    width: 100%;
}

#splash-container {
    /* background: #EC0000; */
    /* background-image: url("/assets/img/img_splashscreen.svg"); */
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    position: absolute;
}

#splash-logo{
    margin-top: 70%; 
}

#splash-logo h1{
    font-size: 60px;
}

.titulo-referidos {
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 1px;
}