<div class="col-12 offset-sm-2 col-sm-5 offset-md-3 col-md-4 offset-lg-3 col-lg-4 h-100 animated fast fadeIn" id="splash-container">
    <div class="text-center" id="splash-logo" [ngStyle]="{'background-image': urlFondo1}">
        <h1><i class="icono icon-iso-santander"></i></h1>
        <p class="titulo-referidos">DESAFÍO</p>
        <p class="titulo-referidos">MIS <strong>REFERIDOS</strong></p>
    </div>
    <div class="text-center" id="logo-santander">
      <!--<img class="img-fluid" src="" alt="Santander">-->
    </div>
</div>