#vencer {
    display:inline;
    border: 1px solid rgba(178,178,178,0.60);
}

#progreso {
    display: table-header-group;
    border: 1px solid rgba(178,178,178,0.60);
}

#premios {
    display: inline;
    border: 1px solid rgba(178,178,178,0.60);
}

.col-3 {
    padding: 0px;
}

.col-12 {
    display: flex;
    padding: 0px;
}

.separador {
    border-bottom: #B2B2B2 dotted 2px;
    margin: 20px 0px;
}

.titulo {
    font-family: 'OpenSans-SemiBold'; 
    font-size: 14px;
    color: #5E606C;
    letter-spacing: 0;
    padding-left: 10px;

}

.t1 {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    color: #242424;
    text-align: left;
}

.t2 {
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    color: #B2B2B2;
    text-align: left;
}

.t3 {
    font-family: 'OpenSans-Bold'; 
    font-size: 14px;
    color: #EC0000;
}
.premios-img{
    padding: 10px;
    border: #EC0000 solid 1px;
}
.clear-fix {
    padding: 5px;
}
.mis-premios {
    color: #4E96FC;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    font-family: 'OpenSans-SemiBold';
    padding: 5px;
}
.iconos-premios {
    height: auto;
    max-width: 85%;
}