<div class="h-70">
    <div class="row" id="progreso">
        <div class="col-12">
            <div class="col-3">
                <img class="img-fluid rounded-circle premios-img" src="assets/img/tickets_icon.svg" alt="F1">
            </div>
            <div class="col-9">
                <span class="t1">¿Quieres boletos para la F1?</span>
                <br>
                <span class="t2">Acumula el mayor número de clientes de enero a septiembre de 2018.</span>
            </div>
        </div>
        <div class="separador"></div>
        <div class="col-12">
            <div class="col-3">
                <img class="img-fluid rounded-circle premios-img" src="assets/img/car_icon.svg" alt="Camioneta">
            </div>
            <div class="col-9">
                <span class="t1">¿Quieres una camioneta?</span>
                <br>
                <span class="t2">Trae clientes de eneroa diciembre de 2018 y entras a la rifa.</span>
            </div>
        </div>
        <div class="separador"></div>
        <div class="col-12">
            <div class="col-3">
                <img class="img-fluid rounded-circle premios-img" src="assets/img/airplane_icon.svg" alt="Viaje">
            </div>
            <div class="col-9">
                <span class="t1">¿Quieres un coche, un viaje o una moto?</span>
                <br>
                <span class="t2">Aquí lo que cuenta es la cantidad de productos que acumulen los clientes que traigas. Ganan los 3 primeros lugares.</span>
            </div>
        </div>
    </div>    
</div>