<div class="h-70">
    <div class="row" id="progreso">
         <p class="mis-premios">MI PROGRESO</p>
        <div class="col-12" (click)="muestraDetalle(1)">
            <div class="col-3">
                <img class="iconos-premios rounded-circle premios-img"
                 src="assets/img/formula1_icon.svg" alt="F1">
            </div>
            <div class="col-9">
                <p class="t1">Boleto doble para la Fórmula 1 en México</p>
                <p class="t2">Hasta septiembre de 2018.</p>
            </div>
        </div>
      <div class="clear-fix"></div>
        <div class="col-12" (click)="muestraDetalle(2)">
            <div class="col-3">
                <img class="iconos-premios rounded-circle premios-img"
                 src="assets/img/car_icon.svg" alt="Camioneta">
            </div>
            <div class="col-9">
                <p class="t1">Ganas un coche </p>
                <p class="t2">Hasta diciembre de 2018</p>
            </div>
        </div>
       <div class="clear-fix"></div>
        <div class="col-12" (click)="muestraDetalle(3)">
            <div class="col-3">
                <img class="iconos-premios rounded-circle premios-img"
                 src="assets/img/airplane_icon.svg" alt="Viaje">
            </div>
            <div class="col-9">
                <p class="t1">Ganas un viaje</p>
                <p class="t2">Hasta diciembre/ 2018</p>
            </div>
        </div>
        <div class="clear-fix"></div>
        <div class="col-12" (click)="muestraDetalle(4)">
            <div class="col-3">
                <img class="iconos-premios rounded-circle premios-img"
                 src="assets/img/moto_icon.svg" alt="Viaje">
            </div>
            <div class="col-9">
                <p class="t1">Ganas una moto</p>
                <p class="t2">Hasta diciembre/ 2018</p>
            </div>
        </div>
         <div class="separador"></div>
         <p class="mis-premios">MIS PREMIOS</p>
         <div class="col-12" (click)="muestraDetalle(5)">
            <div class="col-3">
                <img class="iconos-premios rounded-circle premios-img"
                 src="assets/img/car_icon.svg" alt="Viaje">
            </div>
            <div class="col-9">
                <p class="t1">Rifa por una camioneta</p>
                <p class="t2">Hasta diciembre/ 2018</p>
            </div>
        </div>
    </div>    
</div>