mat-button-toggle {
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #5E606C;
    text-align: center;
    font-family: 'OpenSans-SemiBold';
}

.mat-button-toggle-checked {
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 100px;
    background: #EC0000;
    font-family: 'OpenSans-SemiBold';
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30);
}  

mat-button-toggle-group {
    height: 40px;
    width: 300px;
    box-shadow: none;
    border-radius: 100px;
    background: rgba(242,242,242,0.60);    
}

    




    
