.componente-captura-referido {
    width: 100%;
}

::ng-deep snack-bar-container.success-snackbar {
    background: rgba(255,159,50,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

::ng-deep snack-bar-container.blue-snackbar {
    background: rgba(78,150,252,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

/deep/.mat-tab-label {
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
    color: #B2B2B2;
    font-family: 'Roboto Bold';
    font-size: 16px;
    

}

 /deep/.mat-tab-label-active {
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
    color: #EC0000;
    font-family: 'Roboto Bold';
    font-size: 16px;
    
}

/* Styles for the ink bar */
/deep/.mat-tab-group.mat-primary .mat-ink-bar, /deep/.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #EC0000;
    color: #EC0000;
}

/deep/.mat-tab-group.mat-primary .mat-tab-label:focus, /deep/.mat-tab-group.mat-primary .mat-tab-link:focus, /deep/.mat-tab-nav-bar.mat-primary .mat-tab-label:focus, /deep/.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color:#FFFFFF;
}

::ng-deep .mat-tab-labels{
    justify-content: center; /* align items in Main Axis */
}

