.azul {
    margin: 0px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgb(67, 159, 202);
    font-family: 'OpenSans-Bold';
     /** Comentario*/
}

.clear-fix {
    padding: 10px;
}

.imagen {
    height: 120px;
    align-content: center;
}  

.img-premio {
    width: 100%;
    height: 100%;
}

.ne {
    font-size: 16px;
    color: #5E606C;
    line-height: 20px;
    text-align: center;
    font-family: 'OpenSans-Regular';
}

mat-dialog-actions {
    margin-top: 10px;
}

.princ {
    margin: 0px;
    font-size: 18px;
    color: #242424;
    line-height: 20px;
    text-align: center;
    font-family: 'OpenSans-Bold';
}

.titulo {
    margin-top: 30px;
    text-align: center;
}