<div class="row">
    <div class="col-10">
        <h6 class="text-left"><strong>Acepta el reto y trae nuevos clientes a Santander.</strong></h6>          
    </div>
    <div class="col-2">
        <a (click)="cerrar()"><i class="icono icon-validation-2 text-danger"></i></a>
    </div>
</div>
<mat-dialog-content>
    <div class="col-sm-12 estiloregla">
        <span class="puntaje">1</span>
        <span class="regla">Registra los datos de posibles clientes y nosotros nos encargamos de contactarlos. Si se convierten en clientes, se suman a tu perfil.</span>        
    </div>
    <div class="col-sm-12 estiloregla">
        <h5><span class="puntaje">2</span> Enero-Septiembre</h5>
        <span class="regla">Si eres de los primeros 600 en traer el mayor número de clientes, ganas un boleto doble para la Fórmula 1(R) en México.</span>
    </div>
    <div class="col-sm-12 estiloregla">
        <h5><span class="puntaje">3</span> Enero-Diciembre</h5>
        <span class="regla">Todos los participantes que hayan traído clientes, entran a una rifa por una camioneta.</span>
    </div>
    <div class="col-sm-12 estiloregla">
        <span class="puntaje">4</span>
        <span class="regla">Al final de diciembre, se contará el número total de clientes que trajo cada empleado. Cuantos más productos tenga el cliente, más puntos ganas. Los tres empleados con el mayor número de puntos, ganarán:</span>
    </div>
    <div class="text-center">
        <img class="img-fluid" src="assets/img/premios.png">
    </div>    
</mat-dialog-content>
