.titulo {
    width: 244px;
    height: 42px;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 70px;
    margin-bottom: 10px;
    align-content: center;
    
    
}
.princ {
        font-family: 'Roboto Bold';
        font-size: 18px;
        color: #242424;
        line-height: 20px;
        text-align: center;
}

.ne {
    font-family: 'Roboto Regular';
    font-size: 16px;
    color: #5E606C;
    line-height: 20px;
    text-align: center;
    margin: 0px;
}

.azul {
    font-family: 'Roboto Bold';
    font-size: 16px;
    color: rgb(67, 159, 202);
    line-height: 20px;
    text-align: center;
    margin: 0px;
}

.imagen {
    height: 72px;
    width: 76.3px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 29.7px;
    align-content: center;
}   

.texto {
    width: 260px;
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

/* .mat-dialog-container {
    padding:0px;
    height: 527px;
    width: 300px;
}
.mat-dialog-title {
    font-family: Roboto-Medium;
    font-size: 16px;
    color: #242424;
} */

.img-premio {
    height: 72px;
    width: 76.3px;
}