<mat-dialog-content>
    <div class="col-sm-12 titulo" >
        <span class="princ">GANA PREMIOS CON 
            <br/>
            EL RETO SANTANDER</span>
    </div>
    <div class="col-sm-12 imagen">
        <img class="img-premio" src="assets/img/trophy_icon.svg">
    </div>  
    <div class="col-sm-12 texto">
        <p class="ne">Registra los datos de posibles
            <br/>clientes y nosotros nos  
            <br/>encargamos de contactarlos.
            <br/> 
            <br/> Si se convierten en clientes,</p>
        <p class="ne azul">
           suman a tu perfil. 
        </p>
    </div>    
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="cerrar()" type="submit" mat-raised-button class="boton-rojo componente-login-form">Aceptar </button>
  <!-- <button mat-button [mat-dialog-close]="true">Aceptar</button> -->
</mat-dialog-actions>


