.azul {
    font-family: 'Roboto Bold';
    font-size: 16px;
    color: rgb(67, 159, 202);
    line-height: 20px;
    text-align: center;
    margin: 0px;
}

.clear-fix {
    padding: 10px;
}

.imagen {
    height: 120px;
    align-content: center;
    /* margin-bottom: 10px; */
    /* -ms-flex-line-pack: center; */
}  

.img-premio {
    width: 100%;
    height: 100%;

}

.ne {
    font-family: 'Roboto Regular';
    font-size: 16px;
    color: #5E606C;
    line-height: 20px;
    text-align: center

}

mat-dialog-actions {
    margin-top: 10px;
}

.princ {
    
    font-size: 18px;
    color: #242424;
    line-height: 20px;
    text-align: center;
    font-family: 'Roboto Bold';
    margin: 0px;
}

.titulo {
    margin-top: 30px;
    /* margin-bottom: 10px; */
    align-content: center;
    text-align: center;
}











