$icomoon-font-path: "fonts" !default;

$icon-pin2: "\e943";
$icon-A1: "\e944";
$icon-vendible: "\e945";
$icon-N2: "\e946";
$icon-N1: "\e947";
$icon-pin: "\e948";
$icon-circle-2: "\e949";
$icon-validation-2: "\e94a";
$icon-error-2: "\e94b";
$icon-send: "\e94c";
$icon-A3: "\e94d";
$icon-A2: "\e94e";
$icon-medal: "\e917";
$icon-rh: "\e91c";
$icon-arrowdown-1: "\e941";
$icon-arrowprev-1: "\e942";
$icon-calculator: "\e900";
$icon-camera: "\e901";
$icon-cellphone: "\e902";
$icon-checkbox-select: "\e903";
$icon-checkbox-unselect: "\e904";
$icon-derivation: "\e905";
$icon-multiconference: "\e906";
$icon-pause: "\e907";
$icon-radiobtn-select: "\e908";
$icon-radiobtn-unselect: "\e909";
$icon-video: "\e90a";
$icon-widgets: "\e90b";
$icon-work: "\e90c";
$icon-bathroom: "\e90d";
$icon-coffe: "\e90e";
$icon-food: "\e90f";
$icon-lock: "\e910";
$icon-logout-2: "\e911";
$icon-logout: "\e912";
$icon-mute: "\e913";
$icon-operator: "\e914";
$icon-transfer: "\e915";
$icon-trophy: "\e916";
$icon-arrowdown-2: "\e918";
$icon-arrownext-1: "\e919";
$icon-arrownext-2: "\e91a";
$icon-arrownext-3: "\e91b";
$icon-arrowprev-2: "\e91d";
$icon-arrowprev-3: "\e91e";
$icon-arrowup-1: "\e91f";
$icon-arrowup-2: "\e920";
$icon-arrow45: "\e921";
$icon-hangup: "\e922";
$icon-info: "\e923";
$icon-percent: "\e924";
$icon-phone: "\e925";
$icon-money: "\e926";
$icon-tip: "\e927";
$icon-warning: "\e928";
$icon-star: "\e929";
$icon-burguer: "\e92a";
$icon-calendar: "\e92b";
$icon-delete: "\e92c";
$icon-home: "\e92d";
$icon-iso-santander: "\e92e";
$icon-notes: "\e92f";
$icon-ubication: "\e930";
$icon-building: "\e931";
$icon-conversation: "\e932";
$icon-hand: "\e933";
$icon-more-actions: "\e934";
$icon-notification-on: "\e935";
$icon-notification: "\e936";
$icon-print: "\e937";
$icon-save: "\e938";
$icon-clock: "\e939";
$icon-edit: "\e93a";
$icon-error: "\e93b";
$icon-message: "\e93c";
$icon-more: "\e93d";
$icon-search: "\e93e";
$icon-success: "\e93f";
$icon-user: "\e940";

