#ranking-aprobados {
    color: #3796FF;
    font-size: 14px;
    font-weight: bold;  
    letter-spacing: 0;  
    line-height: 16px;         
}

#ranking-referidos {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;    
}

.leyenda-ranking {
    color: #5E606C;
    font-size: 14px;    
    letter-spacing: 0;
    line-height: 12px;
}

.lista-referido-par {
    background: rgba(242,242,242,0.60);
}

.mis-referidos {
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.30);
    margin: 8px;
}

.mis-referidos li{
    font-size: 14px;
    color: #5E606C;
    letter-spacing: 0;
    line-height: 12px;
}

.puntaje {
    color:#007bff;
}

.font-misRferidos-gruop {
    font-family: OpenSans-Regular;
}


/deep/.mat-tab-label {
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
    color: #B2B2B2;
    font-family: 'Roboto Bold';
    font-size: 16px;
    

}

 /deep/.mat-tab-label-active {
    min-width: 0!important;
    padding: 3px!important;
    margin: 3px!important;
    color: #EC0000;
    font-family: 'Roboto Bold';
    font-size: 16px;
    
}

/* Styles for the ink bar */
/deep/.mat-tab-group.mat-primary .mat-ink-bar, /deep/.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #EC0000;
    color: #EC0000;
}

/deep/.mat-tab-group.mat-primary .mat-tab-label:focus, /deep/.mat-tab-group.mat-primary .mat-tab-link:focus, /deep/.mat-tab-nav-bar.mat-primary .mat-tab-label:focus, /deep/.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color:#FFFFFF;
}