<mat-dialog-content>
    <p class="text-center">Recuerda mencionarle a tu Referido que serán contactados por un Ejecutivo de Santander en los próximos días</p>
    <p class="text-center">Si tu referido quiere obtener el Aviso de Privacidad lo puede descargar de la pagina:</p>
    <p class="text-primary text-center">www.santander.com.mx</p>
    <div class="row">
        <div class="offset-1 col-10">
            <button type="button" mat-raised-button class="boton-rojo" (click)="cerrar()">
                Aceptar
            </button>
        </div>
    </div>
    <div id="separador-terminos-condiciones"></div>
    <div class="row">
        <div class="offset-1 col-10">
            <button type="button" mat-raised-button class="boton-rojo" (click)="abreTerminosCondiciones()">
                Ver Aviso de Privacidad
            </button>
        </div>
    </div>
</mat-dialog-content>