/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/fonts/Roboto-Bold.ttf');
    src: local('☺'), url('assets/fonts/Roboto-Bold.ttf') format('truetype')
}
    
@font-face {
    font-family: 'Roboto Medium';
    src: url('assets/fonts/Roboto-Medium.ttf');
    src: local('☺'), url('assets/fonts/Roboto-Medium.ttf') format('truetype')
}
    
@font-face {
    font-family: 'Roboto Regular';
    src: url('assets/fonts/Roboto-Regular.ttf');
    src: local('☺'), url('assets/fonts/Roboto-Regular.ttf') format('truetype')    
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/fonts/OpenSans-Bold.ttf');
    src: local('☺'), url('assets/fonts/OpenSans-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('assets/fonts/OpenSans-Bold.ttf');
    src: local('☺'), url('assets/fonts/OpenSans-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('assets/fonts/OpenSans-SemiBold.ttf');
    src: local('☺'), url('assets/fonts/OpenSans-SemiBold.ttf') format('truetype')
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('assets/fonts/OpenSans-Regular.ttf');
    src: local('☺'), url('assets/fonts/OpenSans-Regular.ttf') format('truetype')
}

*:focus {
    outline: none !important;
}
    
#loader mat-progress-spinner{
    margin: 20px auto;    
}

.barra-titulo {
    background: rgba(242,242,242,1);
    margin-bottom: 10px;
}

.boton-back {
    font-size: 25px;
}

.boton-gris {
    background: #F2F2F2 !important;
    box-shadow: none !important;
    border-radius: 100px !important;
    color: #5E606C !important;
    font-size: 16px !important;
    height: 42px !important;
    width: 100%;
   
}

.boton-active {
    background: #EC0000  !important;
    box-shadow: none !important;
    border-radius: 100px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    height: 42px !important;
    width: 100%;
}

.boton-gris-circulo {
    background: #FFF2F2 !important;
    box-shadow: none !important;
    border-radius: 50% !important;
    color: #EC0000 !important;
    font-size: 16px !important;   
}

.boton-rojo {
    background: #EC0000 !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.30) !important;
    border-radius: 100px !important;
    color: #FFFFFF !important;
    font-size: 16px !important;
    height: 42px !important;
    width: 100%;
}

.h-40 {
    height: 40%!important;
}

.h-60 {
    height: 60%!important;
}

.icono-rojo {
    color: #EC0000;
}

.titulo-pantalla {
    color: #242424;
    font-size: 13px;
    letter-spacing: 0;
    padding-top: 10px;
}

::ng-deep snack-bar-container.blue-snackbar {
    background: rgba(78,150,252,0.95);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.30);
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;

}

/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}